@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.contact {
  //background-color: #1f7a88;
  background-color: $dark-grey;
  position: relative;

  .text {
    max-width: 800px;
    padding: $base-spacing $double-spacing;
    color: $white;
    margin: 0 auto;
  }

  h2 {
    font-size: 2rem;
    margin: $base-spacing 0;
    text-align: center;
    color: $white;
  }

  .btn {
    height: 60px;
    width: 150px;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    transform: translateZ(-30px);
    // margin: $medium-spacing auto $base-spacing auto;
    margin: $base-spacing;

    .side {
      width: 100%;
      height: 100%;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      backface-visibility: hidden;
      font-size: 1.2rem;
      font-family: $heading-font;
      font-weight: 600;
    }

    .default-side {
      background-color: #3aafa9;
      border: 5px solid $white;
      transform: translateZ(30px);

      a {
        color: $white;
        width: 100%;
      }
    }

    .hover-side {
      // background-color: #2b7a78;
      background-color: $dark-blue;
      border: 5px solid $white;
      transform: rotateX(90deg) translateZ(30px);

      a {
        color: $white;
      }
    }

    &:hover {
      transform: rotateX(-90deg) translateY(30px);
    }

    .hover-side-email-btn {
      background-color: #fca311;
    }
  }

  .btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .scroll-to-top {
    position: absolute;
    bottom: 20px;
    right: 20px;
    svg {
      cursor: pointer;
      font-size: 1.5rem;
      fill: $white;
      display: block;
    }
  }

  @media all and (min-width: 450px) {
    h2 {
      font-size: 2.5rem;
    }

    .btn-wrapper {
      flex-direction: row;
    }
  }

  @media all and (min-width: $breakpoint-tablet) {
    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1.3rem;
    }
  }
}
