@use '../base/variables' as *;

a.url-link {
  display: inline-block;
  font-family: $heading-font;
  font-size: 0.9rem;
  padding: 0.3rem 0.5rem;
  margin-right: $base-spacing;
  min-width: 135px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background-color: $dark-grey;
  color: $white;

  &:hover {
    background-color: rgba($dark-grey, 0.9);
  }
}
