@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.single-project-content {
  h1 {
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: $dark-blue;
  }

  h3 {
    margin-bottom: $small-spacing;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .banner-wrapper {
    background-color: $light-grey;
    padding: $base-spacing;

    .banner-img {
      width: 100%;
      display: block;
      max-width: 850px;
      margin: 0 auto;
    }
  }

  .overview-wrapper {
    padding: 0 $base-spacing;
    // max-width: 1000px;
    max-width: 850px;
    margin: 0 auto;
  }

  .external-links {
    margin: $medium-spacing 0;
    display: flex;
    justify-content: center;

    a:last-of-type {
      margin-right: 0;
    }
  }

  .dev-stack-wrapper {
    ul {
      max-width: 350px;
    }
  }

  .duration-wrapper {
    p {
      margin: 0;
    }
  }

  .info-grid {
    padding: 0 $base-spacing;
    // max-width: 1000px;
    max-width: 850px;
    margin: 0 auto;

    h3 {
      font-size: 1.2rem;
    }
  }

  .design-info {
    padding: 0 $base-spacing;
    // max-width: 1000px;
    max-width: 850px;
    margin: 0 auto;

    .design-block {
      margin: 1rem 0;
      padding: 1rem 0;

      h3 {
        text-align: center;
      }
    }
  }

  .development-info {
    padding: 0 $base-spacing;
    // max-width: 1000px;
    max-width: 850px;
    margin: 0 auto;

    .development-block {
      margin: 1rem 0;
      padding: 1rem 0;

      h3 {
        text-align: center;
      }
    }
  }

  img.block-img {
    max-width: 600px;
    display: block;
    margin: $medium-spacing auto;
    width: 100%;
  }

  .reflection-info {
    padding: 0 $base-spacing;
    // max-width: 1000px;
    max-width: 850px;
    margin: 0 auto;
  }

  @media all and (min-width: $breakpoint-mobile) {
    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 2.3rem;
    }

    h3 {
      font-size: 1.7rem;
    }

    .external-links {
      a {
        margin-right: $double-spacing;
      }
    }

    .dev-stack-wrapper {
      ul {
        display: flex;
        flex-wrap: wrap;
      }

      li {
        margin-right: $base-spacing;
      }
    }

    .info-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $small-spacing;
    }
  }

  @media all and (min-width: $breakpoint-tablet) {
    h1 {
      font-size: 3.5rem;
    }

    .info-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
