@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.single-project-nav {
  display: flex;
  justify-content: space-between;

  max-width: 1000px;
  margin: $double-spacing auto;

  a {
    display: inline-block;
    font-family: $heading-font;
    font-size: $standard-font-size;
    padding: 0.3rem 0.5rem;
    min-width: 120px;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: translateY(-4px);
      color: $dark-blue;
    }
  }

  svg {
    font-size: $large-font-size;
    vertical-align: middle;
  }

  @media all and (min-width: $breakpoint-mobile) {
    a {
      font-size: 1.3rem;
    }

    svg {
      font-size: 2.5rem;
    }
  }
}
