@use '../base/variables' as *;
@use '../utilities/mixins' as *;

// styling for general project thumbnail
.project-thumbnail {
  padding: 3rem $base-spacing;

  overflow-x: hidden;

  .thumbnail-wrapper {
    position: relative;
  }

  h2 {
    margin: $small-spacing 0 0 0;
    font-size: 2rem;
  }

  img {
    display: block;
    max-width: 650px;
    width: 100%;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }
  }

  .tools-list {
    @include ul-base;
    @include flex-layout-row-center;
    justify-content: flex-start;

    li {
      margin-top: 0.3rem;
      margin-right: $small-spacing;
      padding: 0 0.3rem;
      border: 2px solid $dark-grey;
      font-size: 0.75rem;
      font-family: $heading-font;
      font-weight: 600;
      border-radius: 6px;
    }
  }

  .action-buttons {
    a {
      margin-right: $small-spacing;
      border-bottom: 2px solid $dark-grey;
      transition: border-color 0.3s ease-in-out;

      &:hover,
      &:focus {
        border-color: $light-blue;
      }
    }
  }

  .thumbnail-text {
    margin-top: $double-spacing;
  }

  @media all and (min-width: $breakpoint-mobile) {
    padding: 3rem $double-spacing;
  }

  @media all and (min-width: $breakpoint-tablet) {
    padding: 6rem $double-spacing;

    .thumbnail-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: 1500px;
      margin: 0 auto;
    }

    h2 {
      font-size: 2.2rem;
    }

    .thumbnail-text {
      width: 40%;
      margin-top: 0;
    }

    .project-thumbnail-image {
      width: 50%;
    }
  }

  @media all and (min-width: $breakpoint-desktop) {
    h2 {
      font-size: 2.5rem;
    }
  }
}

// change img and text position (text left, img right) for even thumbnail projects
.project-thumbnail:nth-of-type(2n) {
  .thumbnail-text {
    order: -1;
  }
}

// styling specific for project MovieWave thumbnail
.project-thumbnail-moviewave {
  background-color: #0f182b;

  h2 {
    color: $white;
  }

  p {
    color: $white;
  }

  .tools-list {
    color: $white;

    li {
      border-color: $white;
    }
  }

  .action-buttons {
    a {
      color: $white;
      border-color: $white;
      transition: border-color 0.3s ease-in-out;

      &:hover,
      &:focus {
        border-color: #ff983d;
      }
    }
  }
}

// styling specific for project Portfolio thumbnail
.project-thumbnail-portfolio {
  background-color: $light-grey;
}

// styling specific for project Code Breaker thumbnail
.project-thumbnail-codeBreaker {
  background-color: #e2711d;

  h2 {
    color: $white;
  }

  p {
    color: $white;
  }

  .tools-list {
    color: $white;

    li {
      border-color: $white;
    }
  }

  .action-buttons {
    a {
      color: $white;
      border-color: $white;
      transition: border-color 0.3s ease-in-out;

      &:hover,
      &:focus {
        border-color: #606c38;
      }
    }
  }
}

// styling specific for project Gallery thumbnail
.project-thumbnail-gallery {
  // background-color: #fff1e6;
  background-color: #e0dcf4;
}
