//variables for application

//google fonts import
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600;700&display=swap');

//font variables
$heading-font: 'Poppins', sans-serif;
$body-text-font: 'Open Sans', sans-serif;

$line-height: 1.7;

//font size variables
$standard-font-size: 1rem;
$medium-font-size: 1.5rem;
$large-font-size: 2rem;

//colors variables
$dark-blue: #336699;
$light-blue: #86bbd8;
$dark-grey: #2b2b2b;
$light-grey: #e9ecef;
$white: #fff;
$orange: #ff9500;

//spacing variables
$small-spacing: 0.5rem;
$base-spacing: 1rem;
$medium-spacing: 1.5rem;
$double-spacing: 2rem;

//media query breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-lg: 1400px;
