@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.home-container {
  // for landing section on Page Home
  .landing {
    text-align: center;
    min-height: calc(83vh - 72px); //72px is the height of the site header
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;

    svg.laptop-code-svg {
      fill: $dark-grey;
      width: 100px;
    }

    h1 {
      font-size: 2.2rem;
      color: $dark-blue;
      margin: $base-spacing 0;
    }

    p {
      margin: $base-spacing 0;
      font-family: $heading-font;
      font-weight: 600;
    }

    mark {
      padding: 0 0.2rem;
      background: $dark-blue;
      color: $white;
    }

    .landing-content {
      width: 95%;
      margin: 0 auto;
    }

    @media all and (min-width: 450px) {
      h1 {
        font-size: 2.8rem;
      }

      p {
        font-size: 1.3rem;
      }
    }

    @media all and (min-width: $breakpoint-mobile) {
      h1 {
        font-size: 3.3rem;
        color: $dark-blue;
        margin: $base-spacing 0;
      }

      svg.laptop-code-svg {
        width: 150px;
      }
    }

    @media all and (min-width: $breakpoint-tablet) {
      min-height: calc(85vh - 72px);

      .landing-content {
        @include flex-layout-row-center;
      }

      h1 {
        font-size: 4rem;
      }

      .text {
        text-align: left;
      }

      svg.laptop-code-svg {
        width: 200px;
        margin-right: $double-spacing;
      }
    }

  }

  .homepage-btn {
    padding: $small-spacing $base-spacing;
    border: 2px solid $dark-grey;
    display: inline-block;
    font-size: 0.8rem;
    font-family: $heading-font;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    margin: $base-spacing 0;

    position: relative;

    .overlay {
      position: absolute;
      width: 100%;
      height: 0%;
      background-color: $dark-grey;
      left: 0;
      bottom: 0;
      z-index: -1;
      transition: all 0.4s ease-in-out;
    }

    &:hover {
      color: $white;
      .overlay {
        height: 100%;
      }
    }
  }

  .scroll-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 0;
    outline: 0;
    background-color: inherit;
    cursor: pointer;
    padding: 0;

    .down-arrow {
      fill: $dark-grey;
      transition: all 0.3s;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }

  // for background section on Page Home
  .background {
    background-color: $light-grey;

    .link-to-about,
    .link-to-work {
      mark {
        padding: 0 0.2rem;
        margin-left: 3px;
        background-color: #fca311;
        color: $dark-grey;
      }
    }

    h2 {
      margin: $base-spacing 0;
      text-align: center;
      // color: $white;
      font-size: $large-font-size;
    }

    .text {
      max-width: 1000px;
      padding: $base-spacing $double-spacing;
      margin: 0 auto;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      h3 {
        grid-column: 1/2;
        text-align: center;
        font-size: $medium-font-size;
      }

      svg {
        font-size: 2.5rem;
      }

      .card {
        text-align: center;

        p {
          text-align: left;
        }
      }
    }

    .code-icon {
      fill: $light-blue;
    }

    .brush-icon {
      fill: #fca311;
    }

    @media all and (min-width: 450px) {
      h2 {
        font-size: 2.5rem;
      }
    }

    @media all and (min-width: $breakpoint-mobile) {
      .grid {
        grid-template-columns: 1fr 1fr;

        h3 {
          grid-column: 1/3;
        }

        .card {
          margin: 0 $base-spacing;
        }
      }
    }

    @media all and (min-width: $breakpoint-tablet) {
      h2 {
        font-size: 3rem;
      }
    }
  }
}
