@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.home-container {
  // for landing section on Page Home
  .landing {
    text-align: center;
    min-height: calc(83vh - 72px); //72px is the height of the site header
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;

    // svg background for landing section
    //background-color: #ffffff;
    /* note: background by SVGBackgrounds.com */
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23e1ecf7' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23e1ecf7' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e6eef8' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23d7e5f5' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ebf1f9' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23ccdff2' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23f0f4fa' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23c2d8f0' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23f4f6fa' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23b8d2ed' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23f8f9fb' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23aecbeb' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    // background-size: cover;
    // background-position: center;

    // improve and fix background image performance issue
    &::before {
      content: ' ';
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      // svg background for landing section
      background-color: #ffffff;
      /* note: background by SVGBackgrounds.com */
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23e1ecf7' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23e1ecf7' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e6eef8' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23d7e5f5' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ebf1f9' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23ccdff2' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23f0f4fa' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23c2d8f0' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23f4f6fa' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23b8d2ed' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23f8f9fb' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23aecbeb' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
      background-size: cover;
      background-position: center;
      will-change: transform;
      z-index: -1;
    }

    svg.laptop-code-svg {
      fill: $dark-grey;
      width: 100px;
    }

    h1 {
      font-size: 2.2rem;
      color: $dark-blue;
      margin: $base-spacing 0;
    }

    p {
      margin: $base-spacing 0;
      font-family: $heading-font;
      font-weight: 600;
    }

    mark {
      padding: 0 0.2rem;
      background: $dark-blue;
      color: $white;
    }

    .landing-content {
      width: 95%;
      margin: 0 auto;
    }

    @media all and (min-width: 450px) {
      h1 {
        font-size: 2.8rem;
      }

      p {
        font-size: 1.3rem;
      }
    }

    @media all and (min-width: $breakpoint-mobile) {
      h1 {
        font-size: 3.3rem;
        color: $dark-blue;
        margin: $base-spacing 0;
      }

      svg.laptop-code-svg {
        width: 150px;
      }
    }

    @media all and (min-width: $breakpoint-tablet) {
      min-height: calc(85vh - 72px);

      .landing-content {
        @include flex-layout-row-center;
      }

      h1 {
        font-size: 4rem;
      }

      .text {
        text-align: left;
      }

      svg.laptop-code-svg {
        width: 200px;
        margin-right: $double-spacing;
      }
    }

    @media all and (min-width: $breakpoint-desktop) {
      min-height: calc(88vh - 72px);
    }

    // @media all and (min-width: 1200px) {
    //   // for svg background of the landing section
    //   background-attachment: fixed;
    // }
  }

  .homepage-btn {
    padding: $small-spacing $base-spacing;
    border: 2px solid $dark-grey;
    display: inline-block;
    font-size: 0.8rem;
    font-family: $heading-font;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    margin: $base-spacing 0;

    position: relative;
    z-index: 1;

    .overlay {
      position: absolute;
      width: 100%;
      height: 0%;
      background-color: $dark-grey;
      left: 0;
      bottom: 0;
      z-index: -1;
      transition: all 0.4s ease-in-out;
    }

    &:hover {
      color: $white;
      .overlay {
        height: 100%;
      }
    }
  }

  .scroll-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 0;
    outline: 0;
    //background-color: inherit;
    background-color: transparent;
    cursor: pointer;
    padding: 0;

    .down-arrow {
      fill: $dark-grey;
      transition: all 0.3s;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }

  // for brief-intro section on Page Home
  .brief-intro {
    background-color: $light-grey;

    min-height: 380px;
    @include flex-layout-column-center;

    .link-to-about,
    .link-to-work {
      span {
        padding-bottom: 0.1rem;
        border-bottom: 5px solid $orange;
        transition: border-color 0.35s ease-in-out;

        &:hover {
          border-color: red;
        }
      }
    }

    h2 {
      margin: $base-spacing 0 0 0;
      text-align: center;
      font-size: $large-font-size;

      &::after {
        content: '.';
        color: $dark-blue;
      }
    }

    .text {
      max-width: 1000px;
      padding: $base-spacing $double-spacing;
      margin: 0 auto;
      font-size: $standard-font-size;
      line-height: 2;
    }

    .code-icon {
      fill: $light-blue;
    }

    .brush-icon {
      fill: $orange;
    }

    @media all and (min-width: 450px) {
      h2 {
        font-size: 2.5rem;
      }

      .text {
        font-size: 1.3rem;
      }
    }

    @media all and (min-width: $breakpoint-tablet) {
      h2 {
        font-size: 3rem;
      }
    }
  }
}
