@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.about-container {
  h1 {
    margin-bottom: 0;
  }

  ul {
    @include ul-base;
  }

  .about-content {
    padding: $base-spacing;
  }

  .about-text {
    max-width: 850px;
    margin: 0 auto;
  }

  h3 {
    color: $dark-blue;
  }

  .skills {
    margin: $double-spacing 0;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $base-spacing;
    }

    .skills-cat {
      padding: $base-spacing;
      min-width: 280px;
    }

    .skills-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 900px;
      margin: 0 auto;
    }
  }

  .interested-topics {
    padding: $base-spacing $medium-spacing;
    background-color: $light-grey;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1.5rem;
      color: #ef233c;
      font-family: $heading-font;
    }

    h2 {
      max-width: 440px;
    }
  }

  @media all and (min-width: $breakpoint-tablet) {
    .skills {
      ul {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .skills-cat {
        margin: 0 $double-spacing;
      }
    }

    .interested-topics {
      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 2rem;
      }
    }
  }
}
