@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.work-container {
  .projects-intro {
    padding: 0 $base-spacing;
    margin-bottom: 4rem;

    h1 {
      margin: $base-spacing 0;
      font-size: 3rem;
      color: $dark-blue;
    }

    p {
      font-size: 1.5rem;
      font-family: $heading-font;
    }

    .sort-btns-group {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: $double-spacing;
      flex-direction: column;

      padding: 0.2rem;
      border: 1px solid $light-grey;
      border-radius: 10px;
      max-width: 440px;

      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
  }

  @media all and (min-width: 425px) {
    .projects-intro {
      .sort-btns-group {
        flex-direction: row;
        // padding: 0.2rem;
        // border: 1px solid $light-grey;
        // border-radius: 10px;
        // max-width: 440px;
        @include margin-center;
      }
    }
  }

  @media all and (min-width: $breakpoint-mobile) {
    .projects-intro {
      margin-bottom: 4.5rem;

      h1 {
        text-align: center;
        font-size: 4rem;
      }

      p {
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
        font-size: 1.7rem;
      }
    }
  }
}
