@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.about-container {
  h1 {
    margin: $base-spacing 0;
    font-size: 3rem;
    color: $dark-blue;
  }

  ul {
    @include ul-base;
  }

  a {
    color: $dark-blue;
    font-weight: bold;
  }

  .about-content {
    padding: $base-spacing;
  }

  .about-text {
    max-width: 850px;
    margin: 0 auto;
  }

  abbr {
    text-decoration: none;
  }

  h3 {
    color: $dark-blue;
    margin-top: 0;
  }

  .skills {
    margin: $double-spacing 0;
    padding: $base-spacing;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $base-spacing;
    }

    .skills-cat {
      margin-bottom: $base-spacing;
      min-width: 280px;
    }

    .skills-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 850px;
      margin: 0 auto;
    }
  }

  .interested-topics {
    padding: $base-spacing $medium-spacing;
    background-color: $light-grey;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .interested-topics-hightlight {
      background-color: $orange;
      color: $white;
      padding: 0 0.2rem;
    }

    p.topics-text {
      font-size: $medium-font-size;
      color: $orange;
      font-family: $heading-font;
    }

    h2 {
      max-width: 440px;
    }
  }

  @media all and (min-width: $breakpoint-mobile) {
    h1 {
      font-size: 4rem;
    }
  }

  @media all and (min-width: $breakpoint-tablet) {
    .skills {
      ul {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .interested-topics {
      h2 {
        font-size: $large-font-size;
      }

      p.topics-text {
        font-size: $large-font-size;
      }
    }
  }
}
