@use '../base/variables' as *;
@use '../utilities/mixins' as *;

header {
  position: relative;

  .top-bar {
    padding: $base-spacing;
    @include flex-layout-row-center;
    justify-content: space-between;
  }

  .main-nav {
    width: 100%;
    @include flex-layout-column-center;
    text-align: center;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: 0.5s ease-in-out;

    position: fixed;
    top: 0;
    left: 0;
    background-color: $dark-blue;
    z-index: 9;

    ul {
      @include ul-base;

      li {
        margin: 2rem 0;
      }
    }

    a {
      display: inline-block;
      color: rgba($white, 0.75);
      font-weight: 700;
      font-size: 2.5rem;
      transition: color 0.3s ease-in-out;
      font-family: $heading-font;
    }

    a.active {
      color: $dark-blue;
    }
  }

  &.active .main-nav {
    height: 100%;
    visibility: visible;

    a.active {
      color: rgba($white, 0.75);
    }

    a:hover {
      color: rgba($white, 1);
    }
  }

  .header-logo-container {
    img {
      width: 45px;
      display: block;
    }
  }

  .btn-main-nav {
    z-index: 10;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
  }

  &.active .btn-main-nav {
    position: fixed;
    right: 1rem;
  }

  .closeIcon {
    fill: $white;
  }

  svg {
    transition: all 0.7s ease-in-out;
  }

  @media all and (min-width: $breakpoint-mobile) {
    .header-logo-container {
      img {
        margin-left: $base-spacing;
      }
    }

    .btn-main-nav {
      display: none;
    }

    .main-nav {
      visibility: visible;
      transition: none;
      height: auto;
      width: auto;
      background-color: inherit;
      position: relative;

      ul {
        display: flex;

        li {
          margin: 0 1rem;
        }
      }

      a {
        color: $dark-grey;
        font-weight: 400;
        font-size: 1.2rem;
      }
    }
  }
}
